.logo{
    margin-top: 10px;
    height: 35px;
    width: 35px;
    
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
p{
    color: black;
}
header ul li{
    display: inline-block;
    margin: 10px 20px;
    
}
